In [1]:
import pandas as pd

df= pd.read_csv('../data/maintenance_data_base.csv')

df

,UDI,Type,Air_Temperature,Process_temperature,Rotational_speed,Torque,Tool_Wear,Failure_type
0,1,M,298.1,308.6,1551,42.8,0,No_failure
1,2,L,298.2,308.7,1408,46.3,3,No_failure
2,3,L,298.1,308.5,1498,49.4,5,No_failure
3,4,L,298.2,308.6,1433,39.5,7,No_failure
4,5,L,298.2,308.7,1408,40.0,9,No_failure
...,...,...,...,...,...,...,...,...
9995,9996,M,298.8,308.4,1604,29.5,14,No_failure
9996,9997,H,298.9,308.4,1632,31.8,17,No_failure
9997,9998,M,299.0,308.6,1645,33.4,22,No_failure
9998,9999,H,299.0,308.7,1408,48.5,25,No_failure
9999,10000,M,299.0,308.7,1500,40.2,30,No_failure

In [10]:
df['Failure_type'].unique()

array(['No_failure', 'PWF', 'TWF', 'OSF', 'HDF'], dtype=object)

In [3]:
df.loc[df['Failure_type'] == 'HDF']

,UDI,Type,Air_Temperature,Process_temperature,Rotational_speed,Torque,Tool_Wear,Failure_type
3236,3237,M,300.8,309.4,1342,62.4,113,HDF
3760,3761,L,302.3,310.9,1377,46.8,166,HDF
3787,3788,L,302.3,310.8,1377,47.3,22,HDF
3793,3794,L,302.3,310.9,1379,49.3,34,HDF
3806,3807,M,302.3,310.9,1360,44.0,67,HDF
...,...,...,...,...,...,...,...,...
4833,4834,L,303.4,311.9,1377,41.6,34,HDF
4836,4837,L,303.3,311.8,1315,62.0,42,HDF
4840,4841,L,303.4,311.9,1298,63.9,59,HDF
4844,4845,M,303.4,311.8,1316,50.9,69,HDF
4851,4852,L,303.7,312.1,1363,51.8,90,HDF

In [4]:
df.loc[df['Failure_type'] == 'OSF']

,UDI,Type,Air_Temperature,Process_temperature,Rotational_speed,Torque,Tool_Wear,Failure_type
160,161,L,298.4,308.2,1282,60.7,216,OSF
161,162,L,298.3,308.1,1412,52.3,218,OSF
242,243,L,298.0,308.2,1348,58.8,202,OSF
248,249,L,298.0,308.3,1362,56.8,216,OSF
249,250,L,298.0,308.3,1405,56.2,218,OSF
...,...,...,...,...,...,...,...,...
9663,9664,L,299.1,310.1,1435,48.8,229,OSF
9664,9665,L,299.1,310.2,1317,54.8,231,OSF
9667,9668,L,299.2,310.3,1352,48.9,238,OSF
9822,9823,L,298.5,309.4,1360,60.9,187,OSF
9830,9831,L,298.3,309.3,1337,56.1,206,OSF

In [5]:
df.loc[df['Failure_type'] == 'PWF']

,UDI,Type,Air_Temperature,Process_temperature,Rotational_speed,Torque,Tool_Wear,Failure_type
50,51,L,298.9,309.1,2861,4.6,143,PWF
69,70,L,298.9,309.0,1410,65.7,191,PWF
168,169,L,298.4,308.3,1433,62.3,20,PWF
194,195,M,298.2,308.5,2678,10.7,86,PWF
207,208,M,298.4,308.7,1421,60.7,119,PWF
...,...,...,...,...,...,...,...,...
9084,9085,L,297.2,307.9,1326,75.4,172,PWF
9175,9176,L,297.8,309.0,1403,64.2,0,PWF
9613,9614,L,299.0,310.2,1377,62.5,92,PWF
9764,9765,L,298.5,309.5,1294,66.7,12,PWF
9974,9975,L,298.6,308.2,1361,68.2,172,PWF

In [9]:
df.loc[df['Failure_type'] == 'RWF']

Empty DataFrame
Columns: [UDI, Type, Air_Temperature, Process_temperature, Rotational_speed, Torque, Tool_Wear, Failure_type]
Index: []